<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Travel Management</h1>

  <!-- Create Travel -->
  <div class="mb-4">
    <h2 class="text-lg font-semibold mb-2">Add New Travel</h2>
    <form class="space-y-2">
      <input
        class="border p-2 w-1/2"
        placeholder="Destination"
        [(ngModel)]="newTravel.destination"
        name="destination"
      />
      <input
        class="border p-2 w-1/2"
        type="date"
        [(ngModel)]="newTravel.date"
        name="date"
      />
      <select class="border p-2" [(ngModel)]="newTravel.status" name="status">
        <option value="SCHEDULED">SCHEDULED</option>
        <option value="COMPLETED">COMPLETED</option>
      </select>
      <button
        (click)="createTravel()"
        class="bg-green-500 text-white px-3 py-2 rounded"
      >
        Create
      </button>
    </form>
  </div>

  <!-- List of Travels -->
  <div class="mb-4">
    <h2 class="text-lg font-semibold mb-2">All Travels</h2>
    <!-- src/app/components/employee/employee.component.html -->

    <ul class="space-y-2">
      <li
        *ngFor="let travel of travels"
        class="p-2 border border-gray-300 rounded bg-slate-300"
      >
        <!-- Standard View -->
        <div
          *ngIf="!isEditing(travel.id!)"
          class="flex items-center justify-between"
        >
          <div>
            {{ travel.destination }} - {{ travel.date | date }} -
            {{ travel.status }}
          </div>
          <div>
            <button
              class="bg-sky-500 text-white px-2 py-1 ml-2 rounded"
              (click)="editTravel(travel)"
            >
              Edit
            </button>
            <button
              class="bg-red-500 text-white px-2 py-1 ml-2 rounded"
              (click)="deleteTravel(travel.id!)"
            >
              Delete
            </button>
          </div>
        </div>

        <!-- Edit View -->
        <div
          *ngIf="isEditing(travel.id!)"
          class="flex items-center justify-between"
        >
          <div>
            <select
              class="border p-2 rounded"
              [(ngModel)]="travel.status"
              name="status"
            >
              <option value="SCHEDULED">SCHEDULED</option>
              <option value="COMPLETED">COMPLETED</option>
            </select>
          </div>
          <div>
            <button
              class="bg-green-500 text-white px-2 py-1 ml-2 rounded"
              (click)="saveStatus(travel)"
            >
              Save
            </button>
            <button
              class="bg-gray-500 text-white px-2 py-1 ml-2 rounded"
              (click)="cancelEdit()"
            >
              Cancel
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
